# Credentials and secrets
config/*-service-account-key.json
config/*.json
!config/*.template.json
.env

# Python
__pycache__/
*.py[cod]
*.class
venv/

# Output
output/
*.log
# OAuth credentials
credentials..json
token.json
credentials.json

# Ignore AWS SAM build artifacts
.aws-sam/

# Ignore cloud service account credential files
**/service-account-key.json
**/bigquery-service-account-key.json
